.App {
  height: 100vh;
  background-color: gainsboro;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav {
  z-index: 1000;
}

.navSpan{
  padding-right: 20px;
  color: orange;
  font-weight: bold;
  font-size: 12px;
}

.navSpan:hover {
  text-decoration: underline;
  cursor: pointer;
}

#spanBlack{
  color: black;
  font-weight: none;
}
.nav-bar {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.urlTitle {
  position: absolute;
  width: inherit;
  left: 20px;
  top: auto;
}

.navInput{
  width: 700px;
  background-color: rgb(238, 238, 238);
  border-radius: 2px;
  border: none;
  font-size: 15px;
  padding: 10px;
}

.navInput:focus {
  outline: none;
}

.navInput:focus::placeholder {
  color: transparent;
}

.hide {
  display: none; 
 /* background-color: yellow;  */
}

.show {
 display: block;
}